:root {
  --ch-darkblue: #0c77b0;
  --ch-darkgray: #57585a;
  --ch-darkgreen: #08821c;
  --ch-darkorange: #c45201;
  --ch-darkviolet: #351b70;
  --ch-darkyellow: #dca108;
  --ch-gray: #797a7e;
  --ch-green: #0db24c;
  --ch-lightblue: #1ca9e1;
  --ch-orange: #f48221;
  --ch-violet: #572f90;
  --ch-yellow: #fed30a;
}

body {
  background-color: var(--ch-darkviolet);
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: auto;
  width: 40%;
}

#drum-machine {
  background-color: #000;
  border: 1px solid #FFF;
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "Q W E R T Y dspl "
    "A S D F G H dspl"
    "Z X C V B N hint";
  align-items: center;
  justify-items: auto;
  gap: 5px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 1px 1px #FFF, 2px 2px #FFF, 3px 3px #FFF, 4px 4px #FFF;
}

.drum-pad {
  background-color: #FFF;
  border: 4px solid var(--ch-yellow);
  border-radius: 4px;
  font-size: 21px;
  padding: 30px 10px;
}

.drum-pad:active {
  background-color: lightgray;
}
.drum-pad:active {
  background-color: lightgray;
}

#display {
  border: 2px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  grid-area: dspl;
  font-size: 21px;
  justify-self: center;
  padding: 30px;
  width: 125px;
  text-align: center;
}

#hint {
  color: #fff;
  grid-area: hint;
  align-self: end;
  justify-self: end;
  font-style: italic;
  font-size: 14px;
}

#padQ {
  grid-area: Q;
}

#padW {
  grid-area: W;
}

#padE {
  grid-area: E;
}

#padA {
  grid-area: A;
}

#padS {
  grid-area: S;
}

#padD {
  grid-area: D;
}

#padZ {
  grid-area: Z;
}

#padX {
  grid-area: X;
}

#padC {
  grid-area: C;
}

#padR {
  grid-area: R;
}

#padT {
  grid-area: T;
}

#padY {
  grid-area: Y;
}

#padF {
  grid-area: F;
}

#padG {
  grid-area: G;
}

#padH {
  grid-area: H;
}

#padV {
  grid-area: V;
}

#padB {
  grid-area: B;
}

#padN {
  grid-area: N;
}

@media (max-width: 1400px){
  .container {
    width:70%;
  }
}

@media (max-width: 1000px){
  .container {
    width:90%;
  }
}

