.container {
  margin: auto;
  width: 60%;
}

#drum-machine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "Q W E R T Y. ."
    "A S D F G H dspl dspl"
    "Z X C V B N. .";
}

#padQ {
  grid-area: Q;
}

#padW {
  grid-area: W;
}

#padE {
  grid-area: E;
}
#padA {
  grid-area: A;
}

#padS {
  grid-area: S;
}

#padD {
  grid-area: D;
}

#padZ {
  grid-area: Z;
}

#padX {
  grid-area: X;
}

#padC {
  grid-area: C;
}

#padR {
  grid-area: R;
}

#padT {
  grid-area: T;
}

#padY {
  grid-area: Y;
}

#padF {
  grid-area: F;
}

#padG {
  grid-area: G;
}

#padH {
  grid-area: H;
}

#padV {
  grid-area: V;
}

#padB {
  grid-area: B;
}

#padN {
  grid-area: N;
}

#display {
  grid-area: dspl;
}